* {
  margin: 0px;
  padding: 0px;

}

header {

  /*background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
	height: 100px;
	background-size: cover;
	background-position: center;*/
  width: 100%;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;

}

body {
  background: url(../public/img/pattern.jpg);

}

section {
  background-color: white;
  padding: 10px 10px;
  margin: 250px;
  border: 2px;
  margin-top: 100px;
  margin-bottom: 25px;
}

h1 {
  text-align: center;
}

ul {
  display: flex;
  float: right;
  width: 170px;

}

ul li {
  margin-left: -10px;
  text-decoration: none;
  font-weight: 750;
  display: inline-block;
  padding: 5px 10px;
  transition: 0, 6s;
  margin-top: -35px;

}

#article-list {
  color: #644cd4;
}

footer {
  position: relative;
  background: #000;

  line-height: 80px;
  color: #fff;
  text-align: center;
}